.img {
	MARGIN-RIGHT: 15px
}
BODY {
	BACKGROUND:URL(images/bg.gif) LEFT REPEAT-Y #FFFFFF; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #7c7c7c; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-FAMILY: tahoma; TEXT-ALIGN: left
}
.wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 766px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 766px; PADDING-TOP: 0px; HEIGHT: 360px; TEXT-ALIGN: left
}
#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 470px; PADDING-TOP: 0px; HEIGHT: 67px; TEXT-ALIGN: left
}
.line {
	BACKGROUND: url(images/dot.gif); HEIGHT: 1px
}
.copy {
	COLOR: #b5bebb; TEXT-DECORATION: none
}
#left_content1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/left_bg.jpg) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 262px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#right_content1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 504px; PADDING-TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: left
}
.inner_right1 {
	MARGIN: 39px 13px 11px 21px
}
.gray {
	COLOR: #7c7c7c; TEXT-DECORATION: none
}
.blue {
	COLOR: #4b80a2; TEXT-DECORATION: none
}
.bold {
	COLOR: #225468; TEXT-DECORATION: none
}
.abs {
	VERTICAL-ALIGN: middle
}
.big {
	FONT-SIZE: 12px
}
.n {
	FONT-SIZE: 11px
}
.sm {
	FONT-SIZE: 10px
}
.clear {
	CLEAR: both
}
A {
	COLOR: #7c7c7c; TEXT-DECORATION: underline
}
.abs {
	VERTICAL-ALIGN: middle
}
.form {
	FONT-SIZE: 10px; MARGIN-LEFT: 0px; WIDTH: 187px; COLOR: #7c7c7c; MARGIN-RIGHT: 0px; FONT-FAMILY: tahoma; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
.textarea {
	FONT-SIZE: 10px; MARGIN-LEFT: 0px; OVERFLOW: auto; WIDTH: 393px; COLOR: #7c7c7c; MARGIN-RIGHT: 0px; FONT-FAMILY: tahoma; HEIGHT: 97px; BACKGROUND-COLOR: #ffffff
}
.u {
	TEXT-DECORATION: underline
}
.nu {
	TEXT-DECORATION: none
}
.t {
	TEXT-TRANSFORM: uppercase
}
A:hover {
	TEXT-DECORATION: none
}
.a:hover {
	TEXT-DECORATION: underline
}
.menu:hover {
	TEXT-DECORATION: none
}
.green:hover {
	TEXT-DECORATION: none
}
