<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<bean id="userBeanDao" class="com.easymorse.user.UserBeanDaoImpl"
		parent="dao" />
	<bean id="hotelBeanDao" class="com.easymorse.hotel.HotelBeanDaoImpl"
		parent="dao" />
	<bean id="adminUserDao" class="com.easymorse.admin.AdminUserDaoImpl"
		parent="dao" />
	<bean id="hotelRoomDao" class="com.easymorse.room.HotelRoomDaoImpl"
		parent="dao" />
	<bean id="criticismBeanDao" class="com.easymorse.criticism.CriticismBeanDaoImpl"
		parent="dao" />
<bean id="orderItemDao" class="com.easymorse.order.OrderItemDaoImpl"
		parent="dao" />
</beans>